<section id="fizzbuzzapp">
  <header id="header">
    <h1>FizzBuzz</h1>
  </header>

  <section id="main">
    {{#list-filter
       filter=(action 'filterByNumber')
       as |numbers|}}
      <ul id="number-list">
        {{#each numbers as |numberUnit|}}
        <li>
          {{number-listing number=numberUnit}}
        </li>
        {{/each}}
      </ul>
    {{/list-filter}}
  </section>
</section>
