<section id="fizzbuzzapp">
  <header id="header">
    <h1>FizzBuzz</h1>
  </header>

  <section id="main">
    {{#list-filter
       filter=(action 'filterByNumber')
       as |numbers|}}
      <ul id="number-list">
        {{#each model as |list|}}
        <li>
          <label>{{list.number}}</label>
        </li>
        {{/each}}
      </ul>
    {{/list-filter}}
  </section>

  <footer id="footer">
    <button id="previous">
      <strong>Previous</strong> 100
    </button>

    <button id="next">
      <strong>Next</strong> 100
    </button>
  </footer>
</section>
