<header id="header">
  <h1>FizzBuzz</h1>
  <input type="text" id="search" placeholder="What number are you looking for?" />
</header>

<section id="main">
  <ul id="number-list">
    <li>
      <label>1</label>
    </li>
    <li>
      <label>2</label>
    </li>
    <li>
      <label>Fizz</label><button class="more">3</button>
    </li>
    <li>
      <label>4</label>
    </li>
    <li>
      <label>Buzz</label><button class="more">5</button>
    </li>
  </ul>

  <input type="checkbox" id="toggle-all">
</section>

<footer id="footer">
  <button id="previous">
    <strong>Previous</strong> 100
  </button>

  <button id="next">
    <strong>Next</strong> 100
  </button>
</footer>
